.category_section {
  min-height: 100vh;
  width: 100%;
  padding: 0 10vw;

  .product_category_label {
    text-align: center;
  }

  .product_category_container {
    width: 100%;
    min-height: 100vh;
    // background-color: #f5f5f5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    justify-items: center;
    align-items: center;
    padding: 30px;

    .product_item {
      width: 100%;
      height: 300px;
      background-color: none;
      border: #3938d4 1px solid;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      .product_image {
        width: 150px;
        height: 150px;
        // background-color: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        cursor: pointer;

        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      .product_info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 200px;
        margin-top: 20px;
        background-color: none;

        h2 {
          font-size: 0.8rem;
          font-weight: 500;
          margin-bottom: 10px;
        }

        p {
          font-size: 0.8rem;
          font-weight: 300;
          margin-bottom: 10px;

          .product_original_price {
            text-decoration: line-through;
          }
        }

        .product_btn {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #735aff;
          border-radius: 10px;
          padding: 10px;
          color: #fff;
          font-size: 1rem;
          font-weight: 500;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          border: none;

          &:hover {
            background-color: #3938d4;
            color: #fff;
          }
        }
      }

      .product_rate {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: #f5f5f5;
        border-radius: 0 0 10px 10px;
        color: #000;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;

        .rating {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          border-radius: 0 0 10px 10px;
          color: #000;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;

          img {
            height: 10px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
