.header_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  row-gap: 1rem;

  .header {
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10vw 10px;
    min-height: 70px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0 0 10px 10px;

    .header_logo {
      max-width: 50px;
    }

    .header_search {
      width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;

      .search_input {
        width: 100%;
        height: 40px;
        border: none;
        border-radius: 5px;
        padding: 12px 14px;
        font-size: 14px;
        color: #000;
        outline: none;
        background-color: #fff;
        box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
      }
    }
    .header_cart {
      width: 20px;
      display: flex;
      cursor: pointer;
      position: relative;

      .cart_count {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #735aff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        border: none;
        position: absolute;
        top: -3px;
        right: -15px;
      }
    }
  }
  .category_container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    height: 70px;
    position: relative;

    margin: 0;
    border-radius: 0 0 10px 10px;

    ul {
      width: 100%;
      display: flex;
        justify-content: space-between;
        align-items: center;


      li {
        list-style: none;

        a {
          color: #000;
          font-size: 14px;
          font-weight: 500;
          text-decoration: none;
          cursor: pointer;
          text-transform: uppercase;

          &:hover {
            color: #735aff;
          }
        }
      }
    }
  }
}
