body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.form_container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;

  form {
    width: 100%;

    h2{
        color:rgba(0, 0, 0, 0.8);
        margin-bottom: 20px;
    }

    .grid_name {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;

      input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 3px;
        // outline: 1px solid #5f46f1;

        &:focus {
          outline: 1px solid #5f46f1;
        }
      }
    }

    .grid_contact {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;
      gap: 20px;

      input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 3px;
        // outline: 1px solid #5f46f1;

        &:focus {
          outline: 1px solid #5f46f1;
        }
      }
    }
    .register_btn {
      width: 100%;
      border: 1px solid #ccc;
      margin-top: 20px;
      padding: 10px 0;
      cursor: pointer;
      background-color: #5f46f1;
      color: #fff;
      border-radius: 5px;

      &:hover {
        background-color: #735aff;
      }
    }
  }
}
