body {
  padding: 30px 0;
  min-height: 100vh;
  margin-bottom: 30px;
}

.shopping_label {
  text-align: center;
  margin-bottom: 20px;
}

.shopping_cart {
  width: 100%;
  height: 100vh;

  table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    text-align: center;

    td,
    th {
      padding: 10px;
    }

    td {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    thead {
      background: #f5f5f5;
      border-bottom: 1px solid #ccc;
      border-radius: 5px 5px 0 0;
      font-weight: bold;
    }

    .shopping_cart_body {
      border-bottom: 1px solid #ccc;
      border-radius: 0 0 5px 5px;
      padding: 10px;

      .quantity {
        width: 50px;
        text-align: center;
      }

      .remove_btn {
        padding: 8px 10px;
        cursor: pointer;
        border: none;
        outline: none;
        background: #735aff;
        color: #f5f5f5;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
